@import './constant/colors.css';

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 3px solid var(--primary-font-border-color);

  .input__label {
    font-size: var(--primary-font-size);
    line-height: 1.5;
    margin-bottom: 10px;
    color: var(--primary-font-border-color);
  }

  .input__field {
    font-size: var(--primary-font-size);
    min-height: 30px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 5px;
  }

  .input__error {
    font-size: var(--primary-font-size);
    line-height: 1.5;
    min-height: 40px;
    color: darkred;
  }

  .input:not(:last-child) {
    margin-bottom: 10px;
  }
}